/*todo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: black !important;
}

/*navbar*/
.nav-link {
  opacity: 0.4;
}

/*carousel*/

.carousel-inner {
  max-height: 100vh !important;
}

.carousel-item {
  background-position: center center;
  background-size: cover;
}

.icon-parrafo {
  border-radius: 10px;
  border-color: aliceblue;
  border: 1px solid;
}