/*todo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: black !important;
}

/*navbar*/
.nav-link {
  opacity: 0.4;
}

.nav-link:hover {
  opacity: 1;
  animation: blink 2s linear infinite;
}

/*carousel*/

.carousel-inner {
  max-height: 100vh !important;
}

.carousel-item {
  background-position: center center;
  background-size: cover;
}

/*parrafo*/
.icon-parrafo {
  border-radius: 10px;
  border-color: aliceblue;
  border: 1px solid;
}

/*cards*/
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.iconos:hover {
  rotate: 360deg;
  transition: 0.5s;
}

/*h3 efectos*/
h3:hover {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Scroll hide navbar */
.navbar {
  transition: top 0.6s !important;
}

body.user-is-scrolling .navbar {
  top: -100px !important;
}
