/*todo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  background-color: black !important;
}

/*navbar*/
.nav-link {
  opacity: 0.4;
}

/*carousel*/

.carousel-inner {
  max-height: 100vh !important;
}

.carousel-item {
  background-position: center center;
  background-size: cover;
}

/*parrafo*/
.icon-parrafo {
  border-radius: 10px;
  border-color: aliceblue;
  border: 1px solid;
}

/*cards*/
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
